In [2]:
height_feature = [2.0, 1.65, 1.60]
print(height_feature)

[2.0, 1.65, 1.6]

In [3]:
print("Number of data points: ")
number_of_items = len(height_feature)
print(number_of_items)

Number of data points:
3

In [14]:
names = ["Belly", "Ezzy"]
heights = [1.6, 2.0]
print(names[0], "is", heights[0], "tall")

Belly is 1.6 tall

In [1]:
names = ["Mark", "Aroah", "Sam"]
print(names)
names[0] = "angie"
names[1]= "smith"
print(names)
names[0]
names[0], names[-1] = names[-1], names[0]
print(names)

['Mark', 'Aroah', 'Sam']
['angie', 'smith', 'Sam']
['Sam', 'smith', 'angie']

In [19]:

def swap_name_list(newNameList):

    newNameList[0], newNameList[-1] = newNameList[-1], newNameList[0]

    return newNameList


newNameList = ["Mark", "Aroah", "Macie"]
print(swap_name_list(newNameList))

['Macie', 'Aroah', 'Mark']

In [20]:
math_answers = [10, 5, 13]
q2_answer = math_answers[1]
print(q2_answer)

5

In [21]:
math_answers[1] = 9
print(math_answers)
print(q2_answer)

[10, 9, 13]
5